@import "bootstrap/dist/css/bootstrap.min.css";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Sora", serif;
}   

.customBtn2{
  background-color: #D8D9F4;
  padding: 3px 4px;
  font-size: 14px;
  color: #575CDD;
}

.customBtn3{
  background-color: #B9F6DB;
  padding: 3px 4px;
  font-size: 13px;
  color: #27C7C4;
}